{% extends 'base.html' %}
{% load static %}
{% block title %}Personal dashboard - {% endblock %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}
{% block body %}

    <div class="confirm-content">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Last week calories</h3>
                    </div>
                    <div class="panel-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Most consumed products</h3>
                    </div>
                    <div class="panel-body">
                        <canvas id="barChar1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Last products</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Long ago</th>
                                <th>Calories</th>
                            </tr>
                            </thead>

                            {% for prod in readings %}
                                <tr>
                                    <td>{{ prod.product | capfirst }}</td>
                                    <td>{{ prod.timestamp | timesince }}</td>
                                    <td>{{ prod.calories }}</td>
                                </tr>
                            {% endfor %}
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        jQuery.get('{% url "line_chart_json" %}?fbid={{ fbid }}', function (data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx).Line(data, {responsive:true});
        });
        jQuery.get('{% url 'column_chart_json' %}?fbid={{ fbid }}', function (data) {
            var ctx = $("#barChar1").get(0).getContext("2d");
            new Chart(ctx).Bar(data, {responsive:true});
        });
    });


    </script>
{% endblock %}